
.hierarchical{
	width : 70%;
	min-width: 620px;
	margin: 0 auto;
	border: 1px solid red;
}

.hierarchical__plane{
	width: 600px;
	height: 600px;
	border-bottom: 2px solid #333;
	border-left: 2px solid #333;
	margin: 10px auto;
	position: relative;
}
.hierarchical__plane__xLine{
	width: 100%;
	height: calc(10% - 2px);
	border-top: 1px solid #DDD;
	border-bottom:  1px solid #DDD;
	margin-top: 10%
}
.hierarchical__plane_yLine{
	width: calc(10% - 2px);
	height: 100%;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	margin-left: 10%;
	float: left;
}

.hierarchical__plane__pin{
	height: 2%;
	width: 2%;
	background: #666;
	border-radius: 5px;
	position: absolute;
	bottom: 49%;
	left: 49%;
}
	.m__pin__red
	{
		background: #F50602;
		transition: background 1s;
	}
	.m__pin__red:hover
	{
		 background: #A80501;
	}